


h1{
     font-family: Book Antiqua;
     color: #5394e3;
 }
h2{
    font-family: Monaco;
    color: red;
    font-size: 20px;
  }
h3 {
    font-family: Monaco;
    color: green;
    font-size: 20px;
   }



.demo{
    background: #5394e3; /* Цвет фона */
    padding: 3px 20px; /* Поля вокруг текста */
    font-size: 12px; /* Размер шрифта */
    font-weight: bold; /* Насыщенность шрифта */
    color: #FFFFFF; /* Цвет шрифта */
    text-align: center; /* Надпись на кнопке по центру */
    border: outset 2px #73C8F0; /* Параметры рамки кнопки */
    cursor: pointer; /* Изменение вида курсора при наведении*/
}

body {
    background: #f3f2f3;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}
#container {
    background: #FFFFFF;
    margin: 30px auto;
    width: 900px;
    height: 1000px;
}
#header {
    background: #73C8F0;
    height: 15%;
    width: 900px;
}

#menu {
    background: #ffffff;
    float: left;
    width: 20%;
    height: 85%;
}
#content {
    background: #ffffff;
    float: right;
    width: 80%;
    height: 85%;
}
#footer {
    background: #73C8F0;
    height: 15%;
    width: 900px;
}
