


h1{
     font-family: Book Antiqua;
     color: #5394e3;
 }
h2{
    font-family: Monaco;
    color: red;
    font-size: 20px;
  }
h3 {
    font-family: Monaco;
    color: green;
    font-size: 20px;
   }
h4 {
    font-family: Monaco;
    color: #000000;
    font-size: 20px;
}


.demo{
    background: #5394e3; /* Цвет фона */
    padding: 3px 20px; /* Поля вокруг текста */
    font-size: 12px; /* Размер шрифта */
    font-weight: bold; /* Насыщенность шрифта */
    color: #FFFFFF; /* Цвет шрифта */
    text-align: center; /* Надпись на кнопке по центру */
    border: outset 2px #73C8F0; /* Параметры рамки кнопки */
    cursor: pointer; /* Изменение вида курсора при наведении*/
}


.header {
     height:60px;
     background-image: url("images/header.png");
     padding:20px;
     text-align:center;
 }
.header1 {
    height:20px;
    background-color:#dddddd;
    padding:20px;
    text-align:center;
}

.left_col {
    width:350px;
    height:460px;
    background-color:#ffffff;
    padding:15px;
    vertical-align:top}

.right_col {
    width:120px;
    height:460px;
    background-color:#dddddd;
    padding:15px;
    vertical-align:top
}
.right_col2 {
    width:120px;
    height:400px;
    background-color:#ffffff;
    padding:15px;
    vertical-align:top
}
.center_col {
    background-color:#ffffff;
    padding:15px;
    vertical-align:top
}


.footer {
    padding:10px 0 10px 20px;
    background-image: url("images/footer.jpg");
    font-size:13px
}


.thumb img  {

    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
}
